.nav-bar-container {
    position: absolute;
    top: 40px;
    left: 80px;
    z-index: 10;
    color: white;
    font-weight: 500;
    display: flex;
}

.nav-bar-container p {
    margin-right: 25px;
    font-size: 17px;
    cursor: pointer;
    border-bottom: 0px solid #FF3C68;
    padding-bottom: 3px;
    transition: all 0.25s linear;
}

.nav-bar-container p:hover {
    border-bottom: 5px solid #FF3C68;  
    border-radius: 5px;   
}