.banner-text {
    color: #FFF;
    margin-right: 100px;
    width: 500px;
    
}

.banner-text > h2 {
    font-size: 50px;
    margin-bottom: 10px;
    font-weight: 600;
    position: relative;
    z-index: 3;
}

.banner-text > h3 {
    font-size: 35px;
    margin-bottom: 10px;
    font-weight: 600;
    position: relative;
}

.banner-text > h3:first-of-type {
    z-index: 3;
}

.animated-text {
    color: #FF3C68;
    position: relative;
    font-weight: 700;
}

.animated-text::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #5826E1;
    border-left: 2px solid #FF3C68;
    animation: typing 4s steps(12) infinite;
    z-index: 1;
}

@keyframes typing {
    40%, 60% {
        left: calc(100% + 4px);
    }

    100% {
        left: 0;
    }
}

.banner-text > button {
    margin-top: 15px;
    background: #FF3C68;
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 17px;
    cursor: pointer;
    transition: box-shadow 0.2s linear, transform 0.2s linear, font-weight 0.2s linear;
    position: relative;
    z-index: 3;
}

.banner-text > button:hover {
    box-shadow: 5px 5px black;
    transform: translateX(-5px);
    font-weight: 700;
}