.projects-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-container {
    width: 70%;
}

.project {
    display: flex;
    position: relative;
    align-items: center;
    margin-bottom: 45px;
}

.project-info > h3 {
    margin-bottom: 15px;
    font-size: 23px;
    font-weight: 500;
}

.project-info > p {
    margin-bottom: 10px;
}

.project-skills {
    display: flex;
    margin-bottom: 10px;
}

.project > img {
    width: 500px;
    margin-right: 50px;
    border: 1px solid #FF3C68;
}

.project > button {
    position: absolute;
    top: 50px;
    right: 0;
    background: #FF3C68;
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
    width: 120px;
    transition: box-shadow 0.2s linear, transform 0.2s linear, font-weight 0.2s linear;
}

.project > button:hover {
    box-shadow: 4px 4px #000;
    transform: translateX(-5px);
    font-weight: 700;
}

.project-desc {
    font-size: 14px;
}

.project-skills {
    color: #FF3C68;
    font-weight: 500;
}

.project-date, .project-for {
    font-weight: 500;
}