.section-list-item-info > h3 {
    margin-bottom: 15px;
    font-size: 23px;
    font-weight: 500;
}

.section-list-item-info > p {
    margin-bottom: 10px;
}

.item-highlight {
    display: flex;
    margin-bottom: 10px;
    color: #FF3C68;
    font-weight: 500;
}

.item-desc {
    font-size: 14px;
}

.item-date {
    font-weight: 500;
}